* {
    margin: 0;
    padding: 0;
    /* color: white; */
    box-sizing: border-box;
}

body {
    margin:0;
    padding: 0;
    position: relative;
    border: 2px solid #ff0000;
    background-color:#252246f1;
}

header {
    width: 100%;
    height: 80px;
    color: white;
    position: relative;
    border: 2px solid #7fff00;
    background-color: #e95c36e3;
    font-size: 25px;
}

.header-container {
    width: 95%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    max-width: auto;
    align-items: center;
    justify-content: center;
    border: 2px solid purple;
}


.forms-div {
    display: flex;
    padding: 15px;
    margin: 20px 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(24, 211, 224);
}

.forms-div p {
    color: white;
    font-size: large;
    font-style: oblique;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

